*{
    background: azure;
}

.formulario{
    text-align: center;
    background: azure;
}
header{
    background: azure;
}
head{
    background: azure;
}
body{
    background: azure;
}
html{
    background: azure;
}
nav{
    background: azure;
}