*{
    
    color: black;
}
article{
    display: inline-flexbox;
    padding: 2px;
}

label{
    color: black;
}
.btn.-success{
    display: inline-block;
}
aside{
    text-align: center;
    position: absolute left 10px;
    padding: left;
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    background: azure;
    
}
.encabezados{
    padding: 5px;
   
}
.inicio{
    background: azure;
}
.titulor{
    background: blue;
}
.espacios{
    line-height: 80px;
}
label{
    padding: 10px;
}
select{
    padding: 9px;
}